@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #2D3142;
    --color-2: #4F5D75;
    --color-3: #BFC0C0;
    --color-4: #FFFFFF;
    --color-5: #EF8354;
    --color-6: #EAEBEB;
    --font-1: 'PT Sans', sans-serif;
    --font-2: 'Righteous', cursive;
}

body {
    width: 100vw;
    height: 100%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--color-2);
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    position: relative;
    color: var(--color-4);
    text-transform: uppercase;
    font-family: var(--font-2);
}

h1::before {
    content: '"';
    position: absolute;
    color: var(--color-5);
    transform: translate(-150%, -15%);
}

h1::after {
    content: '"';
    position: absolute;
    color: var(--color-5);
    transform: translate(45%, -15%);
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 10px;
    display: flex;
    color: var(--color-4);
    flex-direction: column;
    text-transform: uppercase;
    font-family: var(--font-2);
}

nav ul li a {
    font-size: 0.7em;
    text-align: center;
    text-decoration: none;
    color: var(--color-4);
}

nav ul li a:hover {
    padding: 3px 30px;
    border-radius: 15px;
    background-color: var(--color-5);
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#nos_abonnements {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#nos_abonnements h2 {
    margin: 15px;
    font-size: 1.2em;
    text-align: center;
    font-family: var(--font-1);
    text-transform: uppercase;
}

table {
    text-align: center;
    border: double 5px var(--color-6);
}

table thead tr th {
    background-color: var(--color-2);
}

table tbody tr td {
    background-color: var(--color-6);
}

table tfoot tr td {
    background-color: var(--color-2);
}

#section_plat_a_la_carte {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#section_plat_a_la_carte article {
    width: 100%;
    height: 20%;
    margin: 5px;
    border-radius: 15px;
    background-color: var(--color-3);
}

#section_plat_a_la_carte h2 {
    font-size: 1.2em;
    margin: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-1);
}

#section_plat_a_la_carte article img {
    width: 25%;
    float: left;
    border-radius: 15px;
}


#section_plat_a_la_carte article h3 {
    font-size: 1em;
    text-transform: uppercase;
    font-family: var(--font-1);
}

main div {
    width: 95%;
    height: 130px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(img/img-12.jpg);
}

#section_blog {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#section_blog h2 {
    font-size: 1.2em;
    margin: 15px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-1);
}

#section_blog article {
    width: 100%;
    display: flex;
    margin: 15px 0px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px 6px 15px 5px #BFC0C0;
}

#section_blog article img {
    width: 100%;
}

#section_blog article h3 {
    font-size: 1.2em;
    margin: 10px;
    font-family: var(--font-1);
    text-transform: uppercase;
}